<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="main_header">

        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/hit.jpg" alt="my_photo" title="HitShiroya" class="img-fluid">
                        </figure>

                    </div>

                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to Weather web</p>
                        <h1>On my way to<span class="txt_clr">Mern Stack Developer</span>,and competitive programmer</h1>
                        <a href="#" target="_hit"><button>About Me</button></a>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>
        <p>
            Created By Hit@Shiroya
        </p>
    </footer>
</body>

</html>